.portfolio {
	padding: 80px 0;

	&-inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 80px;
		margin-bottom: 80px;
	}

	&-item {
		display: flex;
		flex-direction: column;
		gap: 85px;
	}

	&-card {
		&__img {
			margin-bottom: 44px;

			img {
				object-fit: cover;
				width: 100%;
			}
		}

		&__heading {
			font-size: 2.2rem;
			color: $textColor;
			font-weight: 600;
			line-height: 1.5;
			margin-bottom: 18px;
		}

		&__action {
			font-size: 1.4rem;
			color: $grayLight;
			font-weight: 300;
		}
	}

	&-btn {
		margin: 0 auto;
	}

	@include maxw(1023px) {
		padding: 40px 0;

		&-inner {
			grid-gap: 0 30px;
		}
	}

	@include maxw(739px) {
		&-inner {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 60px 0;
			margin-bottom: 60px;
		}

		&-item {
			gap: 60px;
		}
	}
}
